//VARIABLES
$black: #333;
$white: #fff;
$oceanBlue: #0142a8;
$pale: #bfdbf0;
$lightGray: rgb(226, 225, 225);
$darkOcean: #031f3b;
$accent: #00b7ed;
$font-stack: 'Open Sans', sans-serif;
$font-paragraph: 'Ranga', cursive;
$font-heading: 'Roboto', sans-serif;
$font-size: 10px;

